.footer{
    background-color: #333;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 16px;
    color: #FFF;
    line-height: 1.5;
 
    /*Tablet Big   */
    @media (max-width: 1139px) {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
 
}

.footer__copyright{
    line-height: 1.4; /* 22.4px */
    margin-bottom: 10px;
}

.footer__text{
    color: #B0B0B0;
}

.footer p + p{
    /* Tablet Small */
    @media (max-width: 899px) {
        margin-bottom: 20px;
    }
}

