.socials {
    display: flex;
    column-gap: 30px;     
    /*Tablet Small */
    @media (max-width: 899px) {
        column-gap: 20px;
    }     
}

.socials__item {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    /* Tablet Small */
    @media (max-width: 899px) {
        width: 38px;
        height: 38px;  
    }
}